.header{
    display: flex;
    align-items: center;

    &__input{
        border: none;
        outline: none;
        width: calc(100% - 25px);
        height: 25px;
        font-size: 15px;
        border-bottom: 1px solid grey;

        &--error{
            border-color: #FF0000;
        }
    }
    &__add-btn{
        margin-left: 10px;
        width: 25px;
        height: 25px;
        cursor: pointer;
    }
}

.error{
    display: none;
    margin-top: 10px;
    color: #FF0000;
    font-size: 14px;
    text-align: center;

    &--active{
        display: block;
    }

}
