.task-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  max-height: 450px;
  overflow-y: auto;
}

@media(min-width: 1024px){
    .task-list{
        max-height: 700px;
    }
  }